---
import BaseLayout from "../layout/BaseLayout.astro";
const title = "Components"
import { SpecialButton } from "../components/SpecialButtons/SpecialButton.jsx";
---

<BaseLayout title={title}>
  <h1>{title}</h1>
</BaseLayout>
